accelerate==0.24.1
altair==5.1.2
attrs==23.1.0
beautifulsoup4==4.12.2
blinker==1.7.0
blis==0.7.11
boto3==1.28.78
botocore==1.31.78
bpemb==0.3.4
cachetools==5.3.2
catalogue==2.0.10
certifi==2023.7.22
charset-normalizer==3.3.2
click==8.1.7
confection==0.1.3
conllu==4.5.3
contourpy==1.2.0
cycler==0.12.1
cymem==2.0.8
Cython==0.29.36
Deprecated==1.2.14
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.5.0/en_core_web_sm-3.5.0.tar.gz#sha256=63d38fecdd4290635c7af4d4f6da50902bdc6c1732ce416b55c2b76c4b0c4626
filelock==3.13.1
flair==0.13.0
fonttools==4.44.0
fsspec==2023.10.0
ftfy==6.1.1
gdown==4.7.1
gensim==4.3.2
gitdb==4.0.11
GitPython==3.1.40
hdbscan==0.8.33
huggingface-hub==0.17.3
idna==3.4
importlib-metadata==6.8.0
Janome==0.5.0
Jinja2==3.1.2
jmespath==1.0.1
joblib==1.3.2
jsonschema==4.19.2
jsonschema-specifications==2023.7.1
kiwisolver==1.4.5
langcodes==3.3.0
langdetect==1.0.9
llvmlite==0.41.1
lxml==4.9.3
markdown-it-py==3.0.0
MarkupSafe==2.1.3
matplotlib==3.8.1
mdurl==0.1.2
more-itertools==10.1.0
mpld3==0.5.9
mpmath==1.3.0
murmurhash==1.0.10
networkx==3.2.1
nltk==3.8.1
numba==0.58.1
numpy==1.26.1
packaging==23.2
pandas==2.1.2
pathy==0.10.3
patsy==0.5.3
Pillow==10.1.0
plotly==5.18.0
plotly-express==0.4.1
pptree==3.1
preshed==3.0.9
protobuf==4.25.0
psutil==5.9.6
pyarrow==14.0.0
pydantic==1.10.13
pydeck==0.8.1b0
Pygments==2.16.1
pynndescent==0.5.10
pyparsing==3.1.1
PySocks==1.7.1
python-dateutil==2.8.2
python-dotenv==1.0.0
pytorch_revgrad==0.2.0
pytz==2023.3.post1
PyYAML==6.0.1
referencing==0.30.2
regex==2023.10.3
requests==2.31.0
rich==13.6.0
rpds-py==0.10.6
s3transfer==0.7.0
safetensors==0.4.0
scikit-learn==1.3.2
scipy==1.11.3
segtok==1.5.11
semver==3.0.2
sentence-transformers==2.2.2
sentencepiece==0.1.99
six==1.16.0
smart-open==6.4.0
smmap==5.0.1
soupsieve==2.5
spacy==3.5.4
spacy-legacy==3.0.12
spacy-loggers==1.0.5
sqlitedict==2.1.0
srsly==2.4.8
statsmodels==0.14.0
stqdm==0.0.5
streamlit==1.28.1
sympy==1.12
tabulate==0.9.0
tenacity==8.2.3
thinc==8.1.12
threadpoolctl==3.2.0
tokenizers==0.14.1
toml==0.10.2
toolz==0.12.0
top2vec==1.0.32
torch==2.1.0
torchvision==0.16.0
tornado==6.3.3
tqdm==4.66.1
transformer-smaller-training-vocab==0.3.2
transformers==4.35.0
typer==0.9.0
typing_extensions==4.8.0
tzdata==2023.3
tzlocal==5.2
umap-learn==0.5.4
urllib3==1.26.18
validators==0.22.0
wasabi==1.1.2
wcwidth==0.2.9
Wikipedia-API==0.6.0
wordcloud==1.9.2
wrapt==1.15.0
XlsxWriter==3.1.9
zipp==3.17.0
